<div class="container " *ngIf="currentUser; else loggedOut">
  <header class="card bg-info">
    <h2> Profile : <strong>{{ currentUser.username }}</strong> </h2>
    <h3> Payments </h3>
<!--    refac: component-->
    <h6> Basic Information: </h6>
    <div class="row">
      <div class="col-sm">
        Dept : {{dept}}
      </div>
      <div class="col-sm">
        Credit : {{credit}}
      </div>
      <div class="col-sm">
        Total : {{totalDueAmount}}
      </div>
      <div class="col-sm">
        Per Semester : {{ (totalDueAmount/12) | number:'1.2-2'}}
      </div>
    </div>
  </header>
</div>

<!--  Payment Calculation form-->
<div class="col-md-12 ">
  <div class="card-container ">
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="semester">Semester</label>
        <select class="form-control"
                name="dept"
                [(ngModel)]="form.semester"
                required
        >
          <option disabled>Select Semester</option>
          <option>1st</option>
          <option>2nd</option>
          <option>4th</option>
          <option>5th</option>
          <option>6th</option>
          <option>7th</option>
          <option>8th</option>
          <option>9th</option>
          <option>10th</option>
          <option>11th</option>
          <option>12th</option>
        </select>
      </div>

      <div class="form-group">
        <label for="cgpa">CGPA</label>
        <input
          type="number"
          class="form-control"
          name="cgpa"
          [(ngModel)]="form.cgpa"
          required
          min=2.00
          max=4.00
          step=.01
          #cgpa="ngModel"
        />
        <div class="alert-danger" *ngIf="cgpa.errors && f.submitted">
          <div *ngIf="cgpa.errors.required">CGPA is required</div>
          <div *ngIf="cgpa.errors.minlength">
            CGPA Should Minimum 2.00
          </div>
          <div *ngIf="cgpa.errors.maxlength">
            CGPA Maximum 4.00 Allowed
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block">Submit</button>
      </div>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Admission  failed!<br />{{ errorMessage }}
      </div>
    </form>
  </div>
</div>



<ng-template #loggedOut>
  Please login.
</ng-template>
