<div class="container " *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h2>
      Profile : <strong>{{ currentUser.username }}</strong>
    </h2>
    <h3>
      Admission Form
    </h3>
  </header>

  <!--  Registration form-->
  <div class="col-md-12 ">
    <div class="card-container ">
      <form
        *ngIf="!profileExist"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="full_name">Full Name</label>
          <input
            type="text"
            class="form-control"
            name="full_name"
            [(ngModel)]="form.full_name"
            required
            maxlength="50"
            #full_name="ngModel"
          />
          <div class="alert-danger" *ngIf="full_name.errors && f.submitted">
            <div *ngIf="full_name.errors.required">Full Name is required</div>
            <div *ngIf="full_name.errors.maxlength">
              Full Name at most 50 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="mobile">Mobile</label>
          <input
            type="text"
            class="form-control"
            name="mobile"
            [(ngModel)]="form.mobile"
            required
            minlength="11"
            maxlength="11"
            #mobile="ngModel"
          />
          <div class="alert-danger" *ngIf="mobile.errors && f.submitted">
            <div *ngIf="mobile.errors.required">Mobile Number is required</div>
            <div *ngIf="mobile.errors.minlength">
              Mobile must be at least 11 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="dept">Department</label>
          <select class="form-control"
            name="dept"
                  [(ngModel)]="form.dept"
                  required
          >
            <option disabled>Select Department</option>
            <option>SWE</option>
            <option>CSE</option>
            <option>EEE</option>
          </select>
        </div>

        <div class="form-group">
          <label for="ssc_point">SSC Point</label>
          <input
            type="number"
            class="form-control"
            name="ssc_point"
            [(ngModel)]="form.ssc_point"
            required
            min=2.00
            max=5.00
            step=.01
            #ssc_point="ngModel"
          />
          <div class="alert-danger" *ngIf="ssc_point.errors && f.submitted">
            <div *ngIf="ssc_point.errors.required">SSC Point is required</div>
            <div *ngIf="ssc_point.errors.minlength">
              SSC Point Should Minimum 2.00
            </div>
            <div *ngIf="ssc_point.errors.maxlength">
              SSC Point Maximum 5.00 Allowed
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="hsc_point">HSC Point</label>
          <input
            type="number"
            class="form-control"
            name="ssc_point"
            [(ngModel)]="form.hsc_point"
            required
            min=2.00
            max=5.00
            step=.01
            #hsc_point="ngModel"
          />
          <div class="alert-danger" *ngIf="hsc_point.errors && f.submitted">
            <div *ngIf="hsc_point.errors.required">HSC Point is required</div>
            <div *ngIf="hsc_point.errors.minlength">
              HSC Point Should Minimum 2.00
            </div>
            <div *ngIf="hsc_point.errors.maxlength">
              HSC Point Maximum 5.00 Allowed
            </div>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block">Submit</button>
        </div>
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Admission  failed!<br />{{ errorMessage }}
        </div>
      </form>
    </div>
  </div>

  <!--  Show profile information-->
  <div *ngIf="profileExist" class="col-md-12">
    <h5>
      <p><strong>Full Name : </strong> {{full_name}}</p>
      <p><strong>Mobile : </strong> {{mobile}}</p>
      <p><strong>Dept : </strong> {{dept}}</p>
      <p><strong>SSC Point : </strong> {{ssc_point}}</p>
      <p><strong>HSC Point : </strong> {{hsc_point}}</p>
    </h5>
  </div>

  <div *ngIf="profileExist" class="col-md-12">
    <br>
    <h6>
      Total Due : {{totalDueAmount}}
    </h6>
    <h6>
      Each Semister : {{ (totalDueAmount/12) | number:'1.2-2'}}
    </h6>
  </div>
  <!-- end : Registration form-->
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
